body{
    /* Variables */
    --baseColor: #FFD43C;
    --accentColorOne: #999861;
    --accentColorTwo: #1C8BCC;
    --backgroundColor: white;

    --leftMargin: 10px;
    --bottomMargin: 100px;
}

input{
    color: black;
    margin-right: 1px !important; 
}

input::placeholder{
    color: black;
}

.img img{
    display: inline-block;
    margin-bottom: 40px !important;    
}

.img button{
    margin-left: -102px;
    display: inline-block;
}

.nav{
    box-shadow: 0px 1px 5px lightslategray;
}