html{
    height: 100% !important;
}

body{
    height: 100% !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    --baseColor: #FFD43C;
}

textarea{
    border-right: none !important;
    height: 50px;
    border: 2px solid var(--baseColor);
    width: 100%;
    border-radius: none;
    /* margin-left: 0px; */
}

textarea:focus{
    border-color: var(--baseColor) !important;
}

textarea::placeholder{
    color: #333333;
}

.button{
    margin-left: -30px !important;
}

.button button{
    border-left: none !important;
    width: 155% !important;
    border: solid 2px var(--baseColor);
    height: 50px;
    background-color: transparent;
    /* border-radius: 2px; */
    font-size: 18px;
}

.button button:hover{
    background-color: var(--baseColor);
    color: white;
    border: solid 2px var(--baseColor);
    transition-duration: .2s;
}

.wrapper{
    overflow-x: hidden;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}

.display{
    height: 87% !important;
    /* margin: 0px !important;
    padding: 0px !important; */
    /* overflow-y: hidden !important; */
}

.commentWindow{
    height: 75% !important;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: normal;
    box-shadow: inset 1px 1px 5px #aaaaaa;
    background-color: #eeeeee;
    opacity: .5;
}

.write{
    margin-left: 15px !important;
}

.input{
   margin-left: -25px !important;   
   /* width: 100% !important; */
}

.image img{
    width: 100% !important;
}

.comment:first-of-type{
    margin-top: 25px;
}

.comment{
    margin-bottom: 50px;
}

.comment h4{
    margin-top: 0px !important;
}

