.nav a{
    color: black;
}

html{
    overflow: scroll;
}

body{
    /* Variables */
    --baseColor: #FFD43C;
    --accentColorOne: #999861;
    --accentColorTwo: #1C8BCC;
    --backgroundColor: white;

    --leftMargin: 10px;
    --bottomMargin: 100px;
}

textarea{
    height: 150px;
    border: solid 2px #dddddd;
    border-radius: 5px;
}

@media screen and (max-width: 600px){
    #things{
        display: none;
    }
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #000000 !important;
    text-align: center;
}

textarea:focus{
    border-color: var(--baseColor);
}

@keyframes d{

}

i{
    animation-name: d;
    animation-duration: 0s;
}

#logout{
    background-color: transparent;
    border: none;
}

#ideaModal input{
    border: solid 2px #dddddd;
    border-radius: 5px;
}

#ideaModal input:focus{
    border-color: var(--baseColor);
}

#navAccountPhoto{
    margin-top: 15px;
    height: 50px !important;
}

#navAccountName{
    color: black;
    font-size: 18px;
    margin-top: 25px;
    text-transform: capitalize;
}

#navAccountName a{
    color: black;
    cursor: pointer;
}

#title:hover{
    color: black;
}

#public::before{
    content: 'M';
    color: var(--baseColor);
}

#create::before{
    content: 'C';
    color: var(--baseColor);
}

#public i{
    color: black;
}

li i:hover{
    color: var(--baseColor);
}

#public i:hover{
    color: var(--baseColor);
    transition-duration: .2s;
}

.follow i{
    color: var(--baseColor);
}

.color{
    color: var(--baseColor);
}

.createNew a{
    background-color: var(--accentColorOne);
    color: white; 
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.nav button{
    background-color: transparent;
    margin-top: 20px;
}

.idea a{
    color: black;
}

.imgDiv img{
    width: 100%;
}

.user img{
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.user a{
    color: black;
}

.user a:hover{
    color: black;
}

.createNew button{
    font-size: 24px !important;
}

.topIdea button{
    background-color: transparent;
    color: black;
    width: 75px;
}

.topIdea button:focus{
    box-shadow: 0 0 0 transparent;
}

.topIdea button:hover{
    cursor: pointer;
}

.imageDiv{
    margin-right: 20px !important;
}

.follow .followBtn{
    width: 150px;
    height: 50px;
    border: solid var(--baseColor) 2px;
    border-radius: 5px;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
}

.follow .followBtn:hover{
    background-color: var(--baseColor);
    color: white;
    transition-duration: .5s;
}

.publicIdeas{
    height: auto !important;
}

.date{
    margin-top: -15px;
}

.topIdea{
    padding-bottom: 10px;
}

.title{
    padding-bottom: 20px;
}

.idea-content{
    padding-bottom: 20px;
}

.idea{
    margin-bottom: 20px !important;
}

.title a{
    color: #000000;
}

.title h6{
    /* margin-left: 10px; */
    padding-left: 0px !important;
    margin-bottom: 20px !important;
    margin-left: 0px !important;
    margin-top: -5px !important;
}

.title a:hover{
    transition-duration: .2s;
    color: var(--baseColor)
}

.catas{
    overflow-x: hidden;
    overflow-y: scroll;
    /* white-space: nowrap; */
    /* width: 100%; */
    height: 500px !important;
    /* box-shadow: inset 0px 1px 5px lightslategray; */
}

.catas button{
    width: 100% !important;
    height: 100px;
    background-color: white;
    color: black;
    border: none;
} 

